:root {
    --fonte-titulo: font-family: "Montserrat", sans-serif;
    --fonte-descricao-produto: font-family: "Roboto Mono", monospace; 
    --fonte-texto: font-family: "Nunito Sans", sans-serif;
}

body {
    margin: 0%;
    padding: 0%;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/* 
HEADER
*/

header {
    display: flex;
    justify-content: space-between;
    
}

.cabecalho {
    box-shadow: 0px 3.5px 7px rgba(0, 0, 0, 0.1);
}

.icon-header {
    margin: 1rem 2rem;
}

.titulos-header {
    display: flex;
    margin: 0.8rem 0rem;
    font-family: "Montserrat", sans-serif;
}

.titulos-header a {
    padding: 0rem 3rem;
    text-decoration: none;
    color: black;
}

.titulos-header a:hover {
    color: rgb(185, 112, 90);
}

.registrar {
    text-decoration:none ;
    display: flex;
    align-items: center;
    margin: 0.8rem 3rem 0.5rem 2rem;
    font-family: "Montserrat", sans-serif;
}

.registrar h3 {
    margin: 0%;
}

.registrar a {
    text-decoration:none;
    color: black;
}

.registrar a:hover {
    color: rgb(185, 112, 90);
}

/* 
MES E ANO
*/



.mes-ano {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1.5rem 1rem;
    font-family: "Montserrat", sans-serif;
}

.mes-ano h4 {
    font-size: 1.2rem;
    padding: 0.3rem 1rem;
    margin: 1.5rem 1rem;
    border: 0.5px solid rgb(150, 150, 150);
    opacity: 90%;
    border-radius: 0.5rem;
}

.mes-ano h4:hover {
    background-color: rgb(229, 207, 207);
}

.mes-ano a {
   text-decoration: none;
    color: black; 
}


/* 
CARDS
*/

.multiple-card {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4rem;
}


.card-box {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    background-color: rgb(255, 255, 255);
    opacity: 85%;
    border-radius: 1rem;
    border: 0.5px solid #bdbdbd;
    padding: 0rem 1.2rem;
}

/* 
CARDS ITENS <div class="off"><h2>25% OFF!</h2></div>
*/

.titulo-card  {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 2rem;
    padding: 0rem 0rem 0rem 0.4rem;
    font-family: "Montserrat", sans-serif;
}

.preco-card  {
    display: flex;
    flex-direction: row;
    padding: 0rem 0rem 0rem 0.5rem;
    font-family: "Montserrat", sans-serif;
}

.preco-card h1 {
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
}

.preco-card h4 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0.4rem;
}

.off {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-left: 4rem;
    
}

.off h2 {
    display: flex;
    align-items: center;
    text-decoration: line-through;
    font-size: 2rem;
}

.itens-card ul {
    padding: 0rem 0rem 0rem 1.1rem;;
}

.itens-card li {
    list-style: none;
    font-family: "Roboto Mono", monospace; 
    font-weight: 600;
}

.btn-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.btn-card a {
    background-color: black;
    border-radius: 1rem;
    text-decoration: none;
    color: #ffffff;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 1rem;
}

.btn-card button {
    padding: 0.4rem 8rem;
    color: #ffffff;
    background-color: black;
    border: 0.5px solid #bdbdbd;
    border-radius: 1rem;
}

.btn-card :hover {
    color: rgb(212, 195, 195);
}

/*FOOTER*/

footer {
    box-shadow: 0px -0.5px 2px rgba(0, 0, 0, 0.1); 
}

.rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.rodape a {
    text-decoration: none;
    color: black;
}

.icons-rodape {
    display: inline;
    justify-content: center;
    margin: 10rem 7rem;
}

.rodape-texto {
    display: flex;
    flex-direction: row;
}

.rodape-1 {
    margin: 2rem 8rem;
    font-family: "Nunito Sans", sans-serif; 
}

.rodape-2 {
    margin: 2rem 8rem;
    font-family: "Nunito Sans", sans-serif; 
}

.rodape-3 {
    margin: 2rem 8rem;
    font-family: "Nunito Sans", sans-serif; 
}

@media (max-width: 500px) {
    html {
        overflow-x: hidden;
    }

    body {
        overflow-x: hidden;
    }

    .cabecalho {
        display: flex;
        justify-content: center;
    }

    .titulos-header {
        display: none;
    } 

    .multiple-card {
        display: flex;
        flex-direction: column;
    }

    .card-box {
        margin: 3rem 2.5rem;
    }

    .rodape {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }

    .rodape-texto {
            display: flex;
            overflow-x: hidden;
            justify-content: center;
            margin: 1rem;
    }
    
    .icons-rodape {
        display: flex;
        margin: 20px;
        justify-content: center;
    }

}